.homewrapper{
    display: flex;
    flex-direction: row;
    background: #DAE5F5;
    box-sizing: border-box;
}

.leftside{
    max-width: 30vw;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
}

.rightside {
    max-width: 70vw;
    max-height: 100vh;
    text-align: center;
    margin: 0 auto;
    overflow-y: auto;    
    overflow-x: hidden;
    position: relative;
}